<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Error 500</title>
    <!-- {% load staticfiles %} -->
        <!-- CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
        <!-- <link rel="stylesheet" href="{% static  'css/error404-500.css' %}"> -->
        <link rel="stylesheet" href="../static/css/error404-500.css">
</head>

<body class="error500">

    <div class="container">
        <div class="error">
            <h1>500</h1>
            <p>Error interno del servidor</p>
        </div>

</body>

</html>
