<!DOCTYPE html>
<html lang="es">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    {% block estilos %}
    {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

   {% include "menu.html" %}

   <div class="content-wrapper">
    {% include "messages.html" %}
        <div class="container-fluid">

            {% block content %}
            {% endblock %}
        </div>
   </div>

   {% block scripts %}
   {% endblock %}
   <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</body>
</html>
