.sin-margin { margin: 0; }
.sin-padding { padding: 0; }

.padding { padding:0 8%;}

/* --- Error --- */

.container-form-compania ul.errorlist,
.container-form-tarifa ul.errorlist,
.container-form-comerciales ul.errorlist
{
    width: 100%;
    display: inline-block;
    list-style: none;
    color: #FFF;
    text-align: center;
    margin: 1px 0 3px 0;
    padding-left: 15px;

}

.container-form-compania ul.errorlist + p input,
.container-form-tarifa ul.errorlist + p input,
.container-form-comerciales ul.errorlist + p input
{
    border: 1px solid #E74C3C;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
}

.container-form-compania ul.errorlist li,
.container-form-tarifa ul.errorlist li,
.container-form-comerciales ul.errorlist li
{
    width: 50%;
    list-style: none;
    background-color: #E74C3C;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 7px;
}

/* --- FORM --- */

.container-form-tarifas,
.container-form-productos,
.container-form-contrato,
.container-form-cliente,
.container-form-usuarios,
.container-form-comerciales,
.container-form-usuarios-permisos,
.container-form-comisiones,
.container-form-compania
{
    margin-bottom: 50px;
    margin-top: 5em;
}

/* CARDS */

.text-title { color: #4682B4; }

.hr {
    border: 1px solid #d5d8dc;
    -webkit-border-radius: 50px 50px 50px 50px;
    border-radius: 50px 50px 50px 50px;
    width: 50%;
    margin-left: 0;
}

.card {
    height: auto;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 1.5em;

    /*-webkit-box-shadow: 0 10px 30px 0 rgba(0 ,0 ,0 , 0.2);
    box-shadow: 0 10px 30px 0 rgba(0 ,0 ,0 , 0.2);*/
 }

.card-compania { min-height: 232px; }
.card-productos { min-height: 243px; }
.card-clientes { min-height: 270px; }

.card .card-body label {
    width: 55%;
    vertical-align: bottom;
}
.card .card-body input {
    width: 44%;
    border:none;
    border: 1px solid #d5d8dc;
    height: 36px;
    border-radius: 3px;
    padding-left: 10px;
}

div.col-md-12 { margin-bottom: 2px;}

.card .card-body select {
    width: 44%;
    height: 36px;
    border:none;
    border: 1px solid #d5d8dc;
    border-radius: 3px;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 25px;
    margin: 0;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 96% center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.span-irpf { font-size: 14px; }

.form-empleados-permisos .input-group { margin: 2px 0;}

.input-group-addon input[type=checkbox], .input-group-addon input[type=radio]{
    height: 20px;
    width: 15px;
}

.input-group { margin: 5px 0;}

.input-group-addon { padding: 2px;}

/* SELECT 2 */

.select2 {
    height: 36px !important;
    width: 44% !important;
 }

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100%;
}

.select2-container--default .select2-selection--single span {
    padding-top: 3px;
    height: 100%;
    padding-left: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 1px;
    right: 7px;
    width: 20px;
}

/* PERMISOS CONTRATO EDIT  */

.permisos-contrato {
    width: 100% !important;
    margin-bottom: 40px !important;
    padding: 0 20px;
}

.permisos-contrato label:first-child {
    width: 100%;
    margin-top: 35px;
}

.container-form-contratos p:nth-child(0n+19) label { padding-bottom: 40px;}

/* INPUT + */

.div-new-compania,
.div-new-tarifa
{
    height: 38px !important;
}

.div-new-compania input,
.div-new-tarifa input,
.div-new-cliente input
{
    height: 36px !important;
    width: 100%;
    cursor: pointer !important;
    padding: 0 8px;
    border: none;
    border: 1px solid #4682B4 !important;
    border-radius: 5px;
    background-color: #FFF;
    color: #4682B4;
}

.div-new-compania input:hover,
.div-new-tarifa input:hover,
.div-new-cliente input:hover
{
    background-color: #4682B4;
    color: #FFF;
}

#id_observaciones { width: 100%;}

input[name=numero_referencia] {
    background-color: #F1F3F5;
}

/* DIVS DISPLAY NONE */

div.new-compania,
div.new-tarifa,
div.new-cliente
{
    display: none;
}

/* --- BTNS --- */

.btn-guardar {
    z-index: 5;
    width: 230px;
    max-width: 100%;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #4682B4;
}

.btn-continuar {
    cursor: pointer;
    z-index: 5;
    width: 230px;
    max-width: 100%;
    color: #FFF;
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #4682B4;
}

.div-btn-guardar { text-align: left; }

.btn-cancelar button {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 275px;
    width: 230px;
    max-width: 100%;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #9A9392;
}

/* MEDIAQUERIES */

@media screen and (max-width: 1200px) {

    .div-services { padding: 0 5px;}

    .container-form-compania ul.errorlist li,
    .container-form-tarifa ul.errorlist li,
    .container-form-comerciales ul.errorlist li
    {
        width: 80%;
    }

    .container { max-width: 900px;}

    .padding { padding:0 3%;}

}

@media screen and (max-width: 860px) {

    .container-form-compania ul.errorlist li,
    .container-form-tarifa ul.errorlist li,
    .container-form-comerciales ul.errorlist li
    {
        width: 90%;
    }

}

@media screen and (max-width: 576px) {

    .div-btn-continuar { text-align: center;}

    .siesta-continuar {
        text-align: center;
        margin: 0 auto;
    }

    .div-btn-guardar { text-align: center;}

    .siesta-continuar button {
        margin-top: 10px;
        position: relative;
        left: 0;
    }

    .div-btn-cancelar {
        text-align: center;
        margin: 0 auto;
    }

    .container-form-productos {
        margin-bottom: 75px;
    }

    .container-form-compania ul.errorlist,
    .container-form-tarifa ul.errorlist,
    .container-form-comerciales ul.errorlist
    {
        padding-left: 0;
    }

    .container-form-compania ul.errorlist li,
    .container-form-tarifa ul.errorlist li,
    .container-form-comerciales ul.errorlist li
    {
        width: 100%;
    }

}

@media screen and (max-width: 400px) {

    .container-form-productos {
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 360px) {

    .form-tarifas { padding: 10px 10px 40px 10px;}
}
